<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.thefoodrunner">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TheFoodRunner">
        <activity
            android:name=".AddFood"
            android:exported="false" />
        <activity
            android:name=".HamzaRestaurant"
            android:exported="false" />
        <activity
            android:name=".HassanRestaurant"
            android:exported="false" />
        <activity
            android:name=".RazaRestaurant"
            android:exported="false" />
        <activity
            android:name=".AliRestaurant"
            android:exported="false" />
        <activity
            android:name=".JassimRestaurant"
            android:exported="false" />
        <activity
            android:name=".AhmadRestaurant"
            android:exported="false" />
        <activity
            android:name=".Rest_Prof"
            android:exported="false" />
        <activity
            android:name=".Ad_Reg"
            android:exported="false" />
        <activity
            android:name=".Ad_Log"
            android:exported="false" />
        <activity
            android:name=".Ad_Rest"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>